header,footer {
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  background: grey;
  color: white;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
